@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: AppleSDGothicNeoB00;
  src:
    url("./assets/fonts/AppleSDGothicNeoB00.woff2") format("woff2"),
    url("./assets/fonts/AppleSDGothicNeoB00.woff") format("woff"),
    url("./assets/fonts/AppleSDGothicNeoB.ttf") format("truetype");
}

@font-face {
  font-family: AppleSDGothicNeoEB00;
  src:
    url("./assets/fonts/AppleSDGothicNeoEB00.woff2") format("woff2"),
    url("./assets/fonts/AppleSDGothicNeoEB00.woff") format("woff"),
    url("./assets/fonts/AppleSDGothicNeoEB.ttf") format("truetype");
}

@font-face {
  font-family: AppleSDGothicNeoH00;
  src:
    url("./assets/fonts/AppleSDGothicNeoH00.woff2") format("woff2"),
    url("./assets/fonts/AppleSDGothicNeoH00.woff") format("woff"),
    url("./assets/fonts/AppleSDGothicNeoH.ttf") format("truetype");
}

@font-face {
  font-family: AppleSDGothicNeoL00;
  src:
    url("./assets/fonts/AppleSDGothicNeoL00.woff2") format("woff2"),
    url("./assets/fonts/AppleSDGothicNeoL00.woff") format("woff"),
    url("./assets/fonts/AppleSDGothicNeoL.ttf") format("truetype");
}

@font-face {
  font-family: AppleSDGothicNeoM00;
  src:
    url("./assets/fonts/AppleSDGothicNeoM00.woff2") format("woff2"),
    url("./assets/fonts/AppleSDGothicNeoM00.woff") format("woff"),
    url("./assets/fonts/AppleSDGothicNeoM.ttf") format("truetype");
}

@font-face {
  font-family: AppleSDGothicNeoR00;
  src:
    url("./assets/fonts/AppleSDGothicNeoR00.woff2") format("woff2"),
    url("./assets/fonts/AppleSDGothicNeoR00.woff") format("woff"),
    url("./assets/fonts/AppleSDGothicNeoR.ttf") format("truetype");
}

@font-face {
  font-family: AppleSDGothicNeoSB00;
  src:
    url("./assets/fonts/AppleSDGothicNeoSB00.woff2") format("woff2"),
    url("./assets/fonts/AppleSDGothicNeoSB00.woff") format("woff"),
    url("./assets/fonts/AppleSDGothicNeoSB.ttf") format("truetype");
}

@font-face {
  font-family: AppleSDGothicNeoT00;
  src:
    url("./assets/fonts/AppleSDGothicNeoT00.woff2") format("woff2"),
    url("./assets/fonts/AppleSDGothicNeoT00.woff") format("woff"),
    url("./assets/fonts/AppleSDGothicNeoT.ttf") format("truetype");
}

@font-face {
  font-family: AppleSDGothicNeoUL00;
  src:
    url("./assets/fonts/AppleSDGothicNeoUL00.woff2") format("woff2"),
    url("./assets/fonts/AppleSDGothicNeoUL00.woff") format("woff"),
    url("./assets/fonts/AppleSDGothicNeoUL.ttf") format("truetype");
}

@font-face {
  font-family: Pretendard;
  src:
    url("./assets/fonts/subset-Pretendard-Regular.woff2") format("woff2"),
    url("./assets/fonts/subset-Pretendard-Regular.woff") format("woff"),
    url("./assets/fonts/subset-Pretendard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: tvNEnjoystoriesB;
  src:
    url("./assets/fonts/tvNEnjoystoriesB.woff2") format("woff2"),
    url("./assets/fonts/tvNEnjoystoriesB.woff") format("woff"),
    url("./assets/fonts/tvNEnjoystoriesB.ttf") format("truetype");
}

@font-face {
  font-family: tvNEnjoystoriesL;
  src:
    url("./assets/fonts/tvNEnjoystoriesL.woff2") format("woff2"),
    url("./assets/fonts/tvNEnjoystoriesL.woff") format("woff"),
    url("./assets/fonts/tvNEnjoystoriesL.ttf") format("truetype");
}

@font-face {
  font-family: tvNEnjoystoriesM;
  src:
    url("./assets/fonts/tvNEnjoystoriesM.woff2") format("woff2"),
    url("./assets/fonts/tvNEnjoystoriesM.woff") format("woff"),
    url("./assets/fonts/tvNEnjoystoriesM.ttf") format("truetype");
}

.test {
  font-family: AppleSDGothicNeoB00;
}

.test2 {
  font-family: Pretendard;
}

.test3 {
  font-family: tvNEnjoystoriesB;
}
